{% extends 'views/layout/layout.html' %}

{% block style %}
    {{ super() }}
    {{ _components | source('style') }}
{% endblock %}

{% block script %}
    {{ super() }}
    {{ _components | source('script') }}
{% endblock %}


{% block body %}
    <h1>Wow... </h1>


    {% component 'module', { id:'mod1', class: 'm2', foo: 1, bar: 2 } %}
    {% component 'module', { id:'mod2', class: 'm2', foo: 1, bar: 2 } %}
    {% component 'sidebar', { foo: 1, bar: 2 } %}
    {% component 'footer' %}

{% endblock %}
