{% extends 'views/layout/layout.html' %}

{% block style %}
    {{ super() }}
    {{ _components | source('style') }}
{% endblock %}

{% block script %}
    {{ super() }}
    {{ _components | source('script') }}
{% endblock %}


{% block body %}
    <h1>Wow... </h1>
    <small><em> {{ name }} @ {{ version }} </em></small>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus amet atque cum excepturi fuga inventore ipsa iste laborum nam, officiis possimus quam quas rem tempore, vitae voluptatem. Illo, repellat.</p>


    {% component 'module', { id:'mod1', class: 'm2', foo: 1, bar: 2 } %}
    {% component 'module', { id:'mod2', class: 'm2', foo: 1, bar: 2 } %}
    {% component 'sidebar', { foo: 1, bar: 2 } %}
    {% component 'footer' %}

{% endblock %}
